ul {
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
}

:root {
    --background-color-dark : #2F303A;
    --background-color-active: #2196F3;
    --background-color-section : #F5F4FA;
    --main-color: #212121;
    --secondary-color: #757575;
    --white-color: #FFFFFF;
}

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: var(--main-color);
}

section {
    padding: 94px 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header.header-main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 15px 25px 15px;
}

header.header-main {
    border-bottom: 1px solid #ECECEC;
} 

header.header-main ul {
    display: flex;
    align-items: center;
}


header.header-main nav li:nth-child(3){
    margin: 0 50px;
}

header.header-main nav li:nth-child(2) {
    margin-left: 93px;
}
header.header-main .contacts li:nth-child(2) {
    margin-left: 50px;
}

header a, 
footer a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
}

header a {
    font-weight: 500;
}

header .mail,
header .tel {
    display: flex;
    align-items: center;
    color: #757575;
}

svg.icon-mail,
svg.icon-tel {
    margin-right: 10px;
    fill: currentColor;
}


.icon-tel:hover {
    fill: #2196F3;
}


a.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
}

a.logo span {
    color: var(--background-color-active);
}

header a:hover,
footer a:hover,
header a:focus,
footer a:focus {
    color: var(--background-color-active);
}

a.logo:hover,
a.logo:focus {
    color: inherit;
}

.portfolio-filter-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
    width: 100%;
}

.portfolio-filter-bar li{
    margin-right: 8px;
}

.portfolio-filter-bar li:nth-last-child(1) {
    margin-right: 0;
}

.portfolio-product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -15px;
}

.portfolio-product-container li{
    border: 1px solid rgba(238, 238, 238, 1);
    width: 370px;
    margin: 15px;
}

.portfolio-product-container li:hover {
    box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000F, 0px 1px 1px 0px #0000001F;
}

.portfolio-product-container a{
    text-decoration: none;
    color: inherit;
}

.portfolio-product-container li figcaption{
    padding: 20px 24px;
}

.portfolio button {
    background-color: var(--background-color-section);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
}

.portfolio button:hover,
.portfolio button:focus {
    background-color: var(--background-color-active);
    color: var(--white-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio button,
.web-studio button {
    cursor: pointer;
}

.web-studio section:nth-child(1) {
    background-color: var(--background-color-dark);
}
.web-studio section:nth-child(4) {
    background-color: var(--background-color-section);
}
.web-studio section:nth-child(3) {
    padding-top: 0;
}

.title {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
}

.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--secondary-color);
}

.web-studio-order {
    text-align: center;
    margin: 0 auto;
    padding: calc(200px - 94px) 0;
}

.web-studio-order h1 {
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    width: 696px;
    margin: 0 auto;
}

.web-studio-order button {
    background-color: var(--background-color-active);
    color: var(--white-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    margin-top: 30px;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px 0px #00000026;
    border: none;
    border-radius: 4px;
}

.web-studio-advantages {
    margin: 0 auto;
}

.web-studio-advantages  .icon-wrapper{
    background-color: var(--background-color-section);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 30px;
}


.web-studio-advantages ul{
    display: flex;
    justify-content: space-between;
}

.web-studio-advantages ul li{
    width: 270px;
}


.web-studio-advantages .description {
    font-size: 14px;
    line-height: 24px;
}

.web-studio-advantages .title {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.web-studio h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.web-studio-activity ul{
    display: flex;
    justify-content: space-between;
}

.web-studio-team ul{
    display: flex;
    justify-content: space-between;
}

.web-studio-team .web-studio-team-list > li {
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.web-studio-team .socials a {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #afb1b8;
    background-color: transparent
}

.web-studio-team .socials a:hover {
    color: var(--white-color);
    background-color: var(--background-color-active);
    border-radius: 50%;
}

.web-studio-team .socials svg {
    fill: currentColor;
}

.web-studio-team figure, 
.portfolio figure {
    margin: 0;
}


.web-studio-team figcaption {
    padding: 30px 32px;
}


.web-studio-team p{
    text-align: center;
}
.web-studio img {
    vertical-align: bottom;
}

.web-studio-team .title {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 10px;
}

.web-studio-team .description {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
}

.web-studio-clients ul{
    display: flex;
    justify-content: space-between;
}

.web-studio-clients a {
    color: #AFB1B8;
}

.web-studio-clients a:hover {
    color: var(--background-color-active);
}

.web-studio-clients svg {
    fill: currentColor;
    border: 1px solid currentColor;
    border-radius: 4px;
}

footer.footer-main {
    background-color: var(--background-color-dark);
    color: var(--white-color);
    padding: 60px;
}

footer .footer-main-contacts {
    display: flex;
}

footer .socials-wrapper {
    margin-left: 70px;
}

footer .footer-main-contacts .socials{
    display: flex;
}

footer .footer-main-contacts .socials a {
    color: var(--white-color);
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF1A;
    border-radius: 50%;
}

footer .footer-main-contacts .socials a:hover {
    background-color: var(--background-color-active);
}

footer .footer-main-contacts .socials svg {
    fill: currentColor;
}

footer .footer-main-contacts h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    margin: 12px 0 20px 0;
}

footer .footer-main-contacts .socials li {
    margin-right: 10px;
}

footer .footer-main-contacts .socials li:nth-last-child(1) {
    margin-right: 0;
}

footer a.logo {
    color: var(--white-color);
}

footer address {
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    margin-top: 20px;
}

footer address li:nth-child(2) {
    margin: 9px 0;
}

footer .tel, 
footer .mail {
    color: var(--white-color);
    opacity: 60%;
}

